---
layout: default
---
<h1>Home</h1>

<p>This is the webpage for the InfoGraviton Journal Club. During the first quarter of 2025 our meetings are happening on Tuesdays at 14h00 (BRT).</p>

<h3>Upcoming Seminars</h3> 
<ul>
{% assign future = site.seminars | sort: 'date' | where_exp:"seminar","seminar.date > site.time" }}%}
{% for seminar in future limit:3 %}
    <li><a href="{{ seminar.url }}"><strong>{{ seminar.title }}</strong></a></li>
    <p>{{ seminar.date | date_to_string }}</p>
    <p>{{ seminar.speaker }}</p>
    <p>{{ seminar.abstract }}</p>
{% endfor %}
</ul>

<h3>Recent Seminars</h3> 
<ul>
{% assign past = site.seminars | sort: 'date' | reverse | where_exp:"seminar","seminar.date < site.time" }}%}
{% for seminar in past limit:2 %}
    <li><a href="{{ seminar.url }}"><strong>{{ seminar.title }}</strong></a></li>
    <p>{{ seminar.date | date_to_string }}</p>
    <p>{{ seminar.speaker }}</p>
    <p>{{ seminar.abstract }}</p>
{% endfor %}
</ul>
