<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="https://alves-nickolas.github.io/favicon.ico">
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css"> <!--academicons-->
    <script src="https://kit.fontawesome.com/9b896b7a03.js" crossorigin="anonymous"></script> <!--fontawesome-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<script>
	MathJax = {
	  tex: {
	    inlineMath: [['$', '$'], ['\\(', '\\)']],
	    displayMath: [['$$', '$$'], ['\\[', '\\]']],
	    tags: 'ams'
	  }
	};
	</script>
	<script id="MathJax-script" async
	  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
	</script>
  </head>
  <body><center>
      <!--<div id="header">-->
      <div>
        <nav id="Menu">
          <a href="{{ site.url }}" class="button">Home</a>
	  <a href="{{ site.url }}/upcoming" class="button">Upcoming</a>
	  <a href="{{ site.url }}/past" class="button">Past</a>
        </nav>

    <div class="wrapper">

      <section>
        <div id="title">
          <h1 style="font-weight: 500">{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Hosted on GitHub Pages</span>
          <span class="credits right">Theme based on "Midnight", by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

        {{ content }}

      </section>

    </div>
	      
  </center>
  </body>
</html>
